<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
<h1>Computer Issue</h1>
<ul>
{% for item in data%}
    <li>{{item}}</li>
{% endfor %}
</ul>
    <div class="allpopich">
        <div class="bigpopich">
            <img class="vlesu" src="https://i.ytimg.com/vi/2e5tAlelJXc/hqdefault.jpg?sqp=-oaymwEmCOADEOgC8quKqQMa8AEB-AHeA4AC6AKKAgwIABABGDAgWShyMA8=&rs=AOn4CLCAq7X32YWHMZekwEYW2CLMxqdsIA" alt="papich">

        </div>
    </div>
    <form id="form" action="/">
        <label>
            <span>
                name
            </span>
            <input type="text" value="">
        </label>
        <label>
            <input type="checkbox" required>
            <span>Can they track us by this dvd disk?</span>
        </label>
        <button type="submit">show this data to Bogdan</button>
    </form>

           

    <div id= "data">
    </div>

     <button id="send">
            get call to Bogdan
        </button>
    
</body>
</html>

